body {
  margin: 0;
  background-color: #fff5e1;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#signUpBox {
  padding-top: 20px;
  padding-bottom: 5px;
}

.auth-box {
  background: rgba(255, 197, 197, 0.3);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 380px;
  border: 2px solid #d9b6a3;
}

.auth-logo {
  width: 80px;
  margin-bottom: 15px;
}

.auth-box h2 {
  color: #8b3c5d;
  font-size: 2rem;
  margin-bottom: 20px;
}

.auth-box input {
  width: calc(100% - 20px);
  max-width: 350px;
  padding: 12px;
  margin: 10px auto;
  border: 1px solid #d9b6a3;
  border-radius: 8px;
  font-size: 1rem;
  background: #fff5e1;
  color: #8b3c5d;
  text-align: left;
  display: block;
}

.auth-box input::placeholder {
  color: #a9a9a9;
}

.auth-box input:focus {
  outline: none;
  border: 2px solid #b76e79;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #8b3c5d;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.auth-box button:hover {
  background: #b76e79;
}

.google-btn {
  width: 100%;
  max-width: 355px;
  padding: 10px;
  margin: 15px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d9b6a3;
  border-radius: 30px;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.google-btn:hover {
  background: #fff5e1;
  border-color: #b76e79;
}

.google-btn svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-btn span {
  font-size: 1rem;
  font-weight: bold;
  color: #8b3c5d;
}

.auth-box p {
  margin-top: 12px;
  font-size: 1.1rem;
  color: #8b3c5d;
}

.auth-box a {
  color: #b76e79;
  font-weight: bold;
  text-decoration: none;
}

.auth-box a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth-box {
    width: 80%;
    padding: 25px;
  }

  .auth-box h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .auth-box input {
    width: 80%;
    padding: 10px;
    margin: 8px auto;
    font-size: 0.95rem;
  }

  .auth-box button {
    padding: 10px;
    font-size: 0.95rem;
    max-width: 80%;
  }

  .google-btn {
    max-width: 80%;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .auth-box {
    width: 80%;
    padding: 20px;
  }

  .auth-box h2 {
    font-size: 1.6rem;
  }

  .auth-box input {
    font-size: 0.9rem;
    padding: 8px;
    margin: 6px auto;
    width: 90%;
  }

  .auth-box button {
    font-size: 0.9rem;
    padding: 8px;
    width: 90%;
  }

  .google-btn {
    width: 80%;
    font-size: 0.9rem;
    padding: 8px;
    border-radius: 25px;
  }
}
