.dashboard-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* important: prevents stretching */
}

.dashboard-sidebar {
  width: 250px;
  background-color: #fff5e1;
  border-right: 1px solid #d9b6a3;
  position: sticky;
  top: 25%;
  height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar-title {
  margin-top: 20%;
  text-align: center;
}

.sidebar-tab {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  width: 100%;
  text-align: center;
}

.sidebar-tab.active {
  background-color: #ffe5e8;
  font-weight: bold;
}

.dashboard-content {
  align-self: self-end;
  flex: 1;
  margin-right: 150px;
  padding-left: 50px;
  margin-top: -50px;
}
