.filter-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.apply-button,
.reset-button {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.apply-button {
  background-color: #8b3c5d;
  color: white;
}

.reset-button {
  background-color: #f2f2f2;
  color: #333;
}

.filter-group{
  margin-bottom: 10px;
}